/* 
 * Font Custom: bare CSS
 */

@font-face {
  font-family: "fontcustom";
  src: url("fontcustom_0558f24373869c56753f034aaac793de.eot");
  src: url("fontcustom_0558f24373869c56753f034aaac793de.eot?#iefix") format("embedded-opentype"),
       url("fontcustom_0558f24373869c56753f034aaac793de.woff") format("woff"),
       url("fontcustom_0558f24373869c56753f034aaac793de.ttf") format("truetype"),
       url("fontcustom_0558f24373869c56753f034aaac793de.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-check:before,
.icon-circle-open:before {
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-check:before { content: "\f100"; }
.icon-circle-open:before { content: "\f101"; }
