//
// Icon Font: fontcustom
//

@font-face {
  font-family: "fontcustom";
  src: url("../fonts/fontcustom_abb8627ceccfa694cff0ec608725d7df.eot");
  src: url("../fonts/fontcustom_abb8627ceccfa694cff0ec608725d7df.eot?#iefix") format("embedded-opentype"),
       url("../fonts/fontcustom_abb8627ceccfa694cff0ec608725d7df.woff") format("woff"),
       url("../fonts/fontcustom_abb8627ceccfa694cff0ec608725d7df.ttf") format("truetype"),
       url("../fonts/fontcustom_abb8627ceccfa694cff0ec608725d7df.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("../fonts/fontcustom_abb8627ceccfa694cff0ec608725d7df.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-check:before,
.icon-circle-open:before,
.icon-pencil:before,
.icon-plus:before,
.icon-x:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.icon-check:before { content: "\f100"; }
.icon-circle-open:before { content: "\f101"; }
.icon-pencil:before { content: "\f103"; }
.icon-plus:before { content: "\f105"; }
.icon-x:before { content: "\f104"; }
